body {
  background-image: url('images/background1.png');
  background-repeat: no-repeat;
}

.navbar {
  width: 300px;
  margin-left: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 76px;
  height: 20px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

a:link {
  text-decoration: none;
}

.icon {
  display: flex;
  color: #6070ff;
  width: 16px;
  top: 17px;
  left: 4px;
}

.header {
  margin: 100px 24px 0 24px;
}

.intro {
  width: 300px;
  height: 150px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.presentation {
  margin-top: -20px;
  display: flex;
  width: 327px;
  height: 146px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.connect {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.social {
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  width: 140px;
  height: 24px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.social_links {
  margin-top: -10px;
  display: flex;
  list-style: none;
  padding-left: 0;
  align-items: flex-start;
  gap: 16px;
}

.works {
  margin-top: 150px;
}

.project_image {
 display: flex;
 margin: 0 40px 0 40px;
 width: 295px;
 height: 220px;
 border-radius: 8px;
 flex: none;
 order: 0;
 flex-grow: 0
  
}

.project > h1 {
 width: 295px;
 height: 36px;
 font-family: 'Poppins';
 font-style: normal;
 font-weight: 700;
 font-size: 32px;
 line-height: 44px;
 color: #172B4D;
}

.counter {
  width: 8px;
  height: 8px;
}

.project > h2 {
width: 55px;
height: 16px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 16px;
color: #344563;
}

.project > p {
  width: 295px;
  height: 76px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

ul {
  list-style-type: none;
}

.project_lang {
display: flex;
flex-direction: row;
align-items: center;
padding: 4px 12px;
width: 53px;
height: 24px;
background: #EBEBFF;
border-radius: 8px;
border: none;
}

.white_button {
  /* font */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396DF2;
 /* button */
  border-color: #396DF2;;
  border-radius: 8px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: fit-content;
}

.white_button:hover {
  color: white;
  background: #6070FF;
  box-shadow: 0px 8px 16px rgba(64, 83, 252, 0.24);
  border-radius: 8px;
}

.grey_font {
  color: #7A869A;
}

.knowledge {
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */

display: flex;
align-items: center;

color: #000000;

}

.languages {
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 20px;
/* or 133% */

display: flex;
align-items: center;
}

.lang_img {
  display: inline-block
  width: 48px;
  height: 48px;
  left: 12px;
  top: calc(50% - 48px/2 - 0.36px);
}







