.header {
  background-image: url('images/background1.png');
  background-repeat: no-repeat;
  background-position: 100%;
  padding-top: 78px;
  height: 545px;
  width: 375px;
  margin-bottom: -40px;
}

.navbar {
  width: 315px;
  padding: 45px 36px 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

a:link {
  text-decoration: none;
}

.icon {
  display: flex;
  color: #6070ff;
  width: 16px;
  top: 17px;
  left: 4px;
}

.menu {
  display: none;
}

.intro {
  margin-left: 24px;
  width: 250px;
  height: 150px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.presentation {
  margin: -20px 24px 10px 24px;
  display: flex;
  width: 327px;
  height: 146px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.connect {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.social {
  margin: -20px 0 0 24px;
  display: flex;
  flex-direction: column;
  width: 140px;
  height: auto;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.social_links {
  margin-top: -10px;
  display: flex;
  list-style: none;
  padding-left: 0;
  align-items: flex-start;
  gap: 16px;
}

/* Header Desktop: 768px or wider */
@media only screen and (min-width: 1024px) {
  .navbar {
    border: black solid;
    width: 1440px;
    height: 72px;
    padding: 0;
  }

  .logo {
    border: black solid;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 155px;
    width: 76px;
    height: 20px;
  }

  /* must add portfolio, contact and about */
  .icon {
    display: none;
  }

  .menu {
    border: #000 solid;
    display: flex;
    margin-right: 120px;
    width: 250px;
    justify-content: space-between;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    color: #344563;
  }

  .header {
    border: black solid;
    width: 1440px;
    height: 845px;   
    padding: 0; 
    background: none;
    background-image: url(images/background_desktop.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 0;
  }

  /* must add spacing after Martin */
  .intro {
    border: black solid;
    width: 390px;
    height: 122px;
    display: flex;
    flex: wrap;
    padding: 0;
    margin: 265px 0 0 260px;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    display: flex;
    align-items: center;
    letter-spacing: 0.37px;
  }

  .presentation {
    border: black solid;
    width: 920px;
    height: 98px;
    margin: 3px 260px 0 260px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
  }

  .social {
    margin: 12px 0 0 260px;
  }
  
  .connect {
    border: black solid;
    margin: 3px 0 0 260px;
    width: 200px;
    height: 24px;
  }

  .social_links {
    border: blue solid;
    margin: 3px 0 0 260px;
    padding: 0;
    width: 140px;
    height: auto; 
  }
}
  
.works {
  margin-top: 150px;
  display: grid;
}

.project {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 16px;
  gap: 12px;
  width: 327px;
  height: auto;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 24px 88px 24px;
}

.project_image {
  width: 295px;
  height: 220px;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.project_title {
  margin: 0 0 -4px;
  width: 100px;
  height: 36px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.counter {
  width: 8px;
  height: 8px;
}

.project_details {
  display: flex;
  width: 250px;
  height: 28px;
  justify-content: space-between;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 9px;
  line-height: 16px;
  color: #344563;
}

.grey_words {
  color: #7a869a;
}

.project_description {
  margin: 8px 0 -15px 0;
}

.project > p {
  width: 295px;
  height: 76px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-top: -2px;
}

.project_lang {
  display: flex;
  padding-left: 0;
}

.lang_type {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding: 4px 12px;
  width: auto;
  height: 24px;
  flex: none;
  order: 2;
  margin: 0 4px 0 0;
  background: #ebebff;
  border-radius: 8px;
  border-style: none;
  color: #6070ff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

ul {
  list-style-type: none;
}

.multipost {
  display: flex;
  height: 88px;
  margin: 0 0 -12px;
  width: 200px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

/* Works Desktop: 768px or wider -> Pending templates 2, 3 and 4 */
@media only screen and (min-width: 1024px) {
  .works {
    margin-top: 140px;
  }

  .project_image {
    display: none;
  }

  .project {
    display: flex;
    flex-direction: column;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 24px;
    margin: 0 142px 142px 142px;
    width: 1156px;
    height: 496px;
    background-image: url(images/project1_desktop.png);
    background-position: 24px 24px;
    background-repeat: no-repeat;
  }

  .project_title, .project_details, .project_description, .project_lang, .white_button {
    margin-left: 614px;
  }

  .project_title {
    border: black solid;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    width: 150px;
    height: 46px;
    margin-top: -75px;
  }

  .project_details {
    border: #000 solid;
    width: 350px;
    margin-top: 0;
    font-weight: 400px;
    font-size: 14px;
    line-height: 24px;
  }

  .project > p {
    border: blue solid;
    width: 470px;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #344563;
  }

  .project_lang {
    margin-top: 30px;
  }
}

.about {
  margin-top: 28px;
  padding: 55px 24px 24px 24px;
  width: 325px;
  margin-bottom: 60px;
}

.intro_about {
  width: 250px;
  height: 150px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.knowledge {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000;
  margin: 30px 0 7px 0;
}

.first_knowledge {
  margin-bottom: 30px;
}

.arrow_down {
  transform: rotate(90deg);
}

.languages {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
}

.lang_img {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 303px;
  height: 66.72px;
}

.myself {
  margin-top: -50px;
  width: 327px;
  height: 144px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15.5px;
  line-height: 24px;
  color: #344563;
}

.skills {
  margin-left: -20px;
  display: flex;
  flex-direction: column;
}

.desktop_list {
  display: none;
}

/* About Desktop: 768px or wider */
@media only screen and (min-width: 1024px) {
  .about {
    border: #000 solid;
    display: flex;
    width: 1440px;
    height: 668px;
    display: flex;
    padding: 0;
  }

  .intro_about {
    border: #000 solid;
    width: 150px;
    height: 114px;
    margin: 0;
  }

  .myself {
    border: #000 solid;
    width: 440px;
    height: 102px;
    margin: 0;
  }

  .left_desktop {
    border: black solid;
    width: 31%;
    padding: 0;
    margin: 130px 0 142px 142px;
  }

  .skills {
    border: #000 solid;
    width: 42%;
    margin: 140px 0 0 15px;
    padding: 0;
  }

  .lang_img {
    display: none;
  }
  
  .desktop_list {
    display: flex;
  }

  .social_links, .connect {
    margin-left: 0;
  }
}

.resume_button {
  margin: 10px 0 10px 0;
  width: 180px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  background: #fff;
  border: 1px solid #396df2;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  text-align: center;
  letter-spacing: 0.03em;
}

.resume_button:hover {
  color: white;
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  border-radius: 8px;
}

.resume_button:active {
  color: white;
  background: #2230d2;
  border-radius: 8px;
}

.resume_button:disabled {
  color: #5e6c84;
  border-color: #5e6c84;
}

.white_button {
  width: 150px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  background: #fff;
  border: 1px solid #396df2;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  text-align: center;
  letter-spacing: 0.03em;
  grid-row-start: 6;
  grid-column: 1/2;
  margin: -8px 0 25px 0;
}

.white_button:hover {
  color: white;
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  border-radius: 8px;
}

.white_button:active {
  color: white;
  background: #2230d2;
  border-radius: 8px;
}

.white_button:disabled {
  color: #5e6c84;
  border-color: #5e6c84;
}

.contact_form {
  background: url('images/background_contact.png'), #6070ff;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 150px;
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 375px;
  height: 779px;
  left: 0;
  top: 5410px;
  border: 1px solid #dfe1e6;
  border-top-left-radius: 80px;
}

.contact_me {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 103px;
}

.contact_details {
  margin: -20px 24px 50px 24px;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

.list_items {
  padding: 0;
  margin: 0;
}

.name,
.email {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  width: 273px;
  height: 18px;
  padding: 15px 38px 15px 16px;
  margin: 0 24px 15px 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
}

.message {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  width: 273px;
  height: 140px;
  margin: 0 24px 15px 24px;
  padding: 15px 38px 15px 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #b3bac5;
}

.get_in_touch {
  margin-left: 24px;
  width: 150px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  background: #fff;
  border: 1px solid #396df2;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  text-align: center;
  letter-spacing: 0.03em;
}

.get_in_touch:hover {
  color: white;
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  border-radius: 8px;
}

.get_in_touch:active {
  color: white;
  background: #2230d2;
  border-radius: 8px;
}

.get_in_touch:disabled {
  color: #5e6c84;
  border-color: #5e6c84;
}

/* Buttons Desktop: 768px or wider */
@media only screen and (min-width: 1024px) {
  .white_button {
    margin-left: 614px;
    margin-top: 15px;
  }

  .contact_form {
    width: 1440px;
    height: 846px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url(images/contact\ desktop.png), #6070ff;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    padding: 0;
  }

  .contact_me {
    margin: 0 0 40px 0;
    padding: 0;
  }

  .contact_details {
    width: 569px;
    height: 102px;
    margin-bottom: 0;
  }

  .name, .email, .message {
    margin-top: 15px;
    width: 447px;
  }
}