body {
  background-image: url('background1.png');
  background-repeat: no-repeat;
}

.navbar {
    margin: 0 24px 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 76px;
    height: 20px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #6070ff;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.icon {
    color: #6070ff;
    width: 16px;
    top: 17px;
    left: 4px;
}

.header {
  margin: 114px 24px 0 24px;

}

.intro {
width: 300px;
height: 150px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 52px;
display: flex;
align-items: center;
color: #172B4D;
flex: none;
order: 0;
flex-grow: 0;
}

.presentation {
width: 327px;
height: 146px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #344563;
flex: none;
order: 1;
flex-grow: 0;
}

.connect {
height: 24px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #7F8CFF;
flex: none;
order: 0;
flex-grow: 0;
}

.social {
display: flex;
align-items: flex-start;
gap: 12px;
list-style: none;
padding-left: 0;
}


